<!doctype html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <meta name="description" content="portfolio">
    <meta name="author" content="Jennifer Mead">

    <meta name="google-site-verification" content="ZPdA8lBccnjRt8shIo628YmKcxTX_-wOLXfX2vceUNs" />

<!-- Start Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-138652320-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-138652320-1');
    </script>
<!-- End Google Analytics -->

  <link rel="icon" href="/public/icons/button.ico">
  <link href="/public/css/bootstrap.css" rel="stylesheet">
  <link href="/public/css/custom.css" rel="stylesheet">

</head>

<body>

  <nav class="navbar navbar-dark navbar-expand-md bg-faded justify-content-center bighead notomono">
    <a class="d-flex w-50 mr-auto" href="/">visitor@linuxfingers:~$ cd ~</a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar3">
          <span class="navbar-toggler-icon"></span>
      </button>

    <div class="navbar-collapse collapse w-100 navbar-hover" id="collapsingNavbar3">

        <ul class="navbar-nav w-100 justify-content-center">
            <li class="nav-item">
                <a class="pglink" href="/uc">/portfolio/</a>
            </li>
            <!--<li class="nav-item">
                <a class="pglink" href="/uc">/creative_arts/</a>
            </li>-->
            <li class="nav-item">
                <a class="pglink" href="/uc">/about_jen/</a>
            </li>
            <li class="nav-item">
              <a class="pglink" href="/uc">/cv/</a>
            </li>
        </ul>

        <ul class="nav navbar-nav ml-auto w-100 justify-content-end courier">
            <li class="nav-item">
              {{#if user}}
              <a class="pglink" href="#">exit?</a>
              {{else}}
              <a class="pglink" href="/uc">login $USER</a>
              {{/if}}
            </li>
        </ul>

    </div>
</nav>

<div id="wrapper" class="container">

{{#if error}}
  <p class="alert alert-warning">{{error}}</p>
{{/if}}

{{#if success}}
  <p class="alert alert-success">{{success}}</p>
{{/if}}

{{#if notice}}
  <p class="alert alert-info">{{notice}}</p>
{{/if}}

    {{{body}}}

</div>
    <script>$("#overlay").modal({
        backdrop : "static",
        keyboard: false
    });</script>

    <div id="overlay" data-backdrop="static" class="bottomright">
      <audio id="sound1" src="public/audio/laugh.wav" preload="auto"></audio><a class="# win" onclick="document.getElementById('sound1').play();"><font class="kern">Activate Windows</font><br>Go to Settings to activate Windows.</a></div>

<footer class="bigfoot notomono">
    <p>
      <img src="/public/img/greenskull.gif" height="30px" href="#" onclick="randomSite();">
      ʇ̫͖̩̦̀̐̎̿̃̚ɔ͖̦͙̝̣͈̬̱̫̎ǝ̣͙̻̼̣̗̥̰̑ͩ͛̇͗u̹ͣ͑͊̓̑̾u̩̱͇̖̗̯͛́̿o͇͓̠͔̞̼ͪ͑̃ɔ̲̱͔̣̟̽ͥ͛̋̒ͫͮ͗̚
       ░ <a target="_blank" rel="noopener noreferrer" href="mailto:contact@linuxfingers.com">email</a>
       ░ <a target="_blank" rel="noopener noreferrer" href="http://www.twitter.com/linuxfingers">twitter</a>
       ░ <a target="_blank" rel="noopener noreferrer" href="http://www.facebook.com/linuxfingers">facebook</a>
       ░ <a target="_blank" rel="noopener noreferrer" href="http://www.soundcloud.com/linuxfingers">soundcloud</a>
       ░ ̭́̂́͐͛c͖̻ͯ̽õ̭̼̪̦̠ͅn̺̰ͤ̌͒ͭ̆̏n̲̼̦͕̥̗̝̠̒̏ͧ̃̓̓ͬẹ͉́ͨ̑̆ͬ̃ͥͫc͔͓͈̮ͮ͐̃t̘̖͉̫̬̰ͨͪ
       <img src="/public/img/greenskull.gif" height="30px" href="#" onclick="randomSite();">
  </p>

</footer>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
<script src="/public/js/sites.js"></script>


</body>
</html>
