<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, width=device-width">
    <meta name="description" content="portfolio">
    <meta name="author" content="linuxfingers (Jenny Lynn Mead)">
    <meta name="google-site-verification" content="ZPdA8lBccnjRt8shIo628YmKcxTX_-wOLXfX2vceUNs" />

<title>{{{title}}}</title>

<link rel="icon" href="/icons/favicon.ico">
<link rel="icon" href="/icons/favicon-32.png" sizes="32x32">
<link rel="icon" href="/icons/favicon-57.png" sizes="57x57">
<link rel="icon" href="/icons/favicon-76.png" sizes="76x76">
<link rel="icon" href="/icons/favicon-96.png" sizes="96x96">
<link rel="icon" href="/icons/favicon-128.png" sizes="128x128">
<link rel="icon" href="/icons/favicon-192.png" sizes="192x192">
<link rel="icon" href="/icons/favicon-228.png" sizes="228x228">

<!--FontAwesome-->
<script src="https://kit.fontawesome.com/1de139fa02.js" crossorigin="anonymous"></script>

<!--Add to home screen-->
<link rel="stylesheet" href="css/addtohomescreen.css">
<script src="js/addtohomescreen.js"></script>

<!-- Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-138652320-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-138652320-1');
</script>

<!-- Stylesheets -->
<link href="/css/bootstrap.css" rel="stylesheet">
<link href="/css/fancy.css" rel="stylesheet">
<link href="/css/restext.css" rel="stylesheet">

</head>






<body class="site">

<nav class="navbar navbar-dark navbar-expand-lg bg-faded justify-content-center greenhead fixed-top">
  <a href="/" class="navbar-brand d-flex w-50 mr-auto pglink" style="color:#c2b280; font-weight:bold;">visitor@linuxfingers:~$ cd ~</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
      <i class="fas fa-sitemap" style="color:#c2b280"></i>
      </button>

      <div class="navbar-collapse collapse w-100" id="navbarSupportedContent">
          <ul class="navbar-nav w-100 justify-content-center">
            {{#if user}}
                <li class="nav-item dropdown">
                    <a class="pglink dropdown-toggle navbarDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">/init</a>
                    <div class="dropdown-menu dd-black" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="/init/">./the_project</a>
                      <a class="dropdown-item" href="/init/audience">./audience</a>
                      <a class="dropdown-item" href="/init/why">./why</a>
                      <a class="dropdown-item" href="/init/bibliography">./bibliography</a>
                      <a class="dropdown-item" href="/init/jen">./about_jen</a>
                      <a class="dropdown-item" href="/init/cv">./jen_CV</a>
                      <!--<a class="dropdown-item" href="/init/provsec">./providentia security</a>-->
                </li>
                <li class="nav-item dropdown">
                    <a class="pglink dropdown-toggle navbarDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">/phishing</a>
                    <div class="dropdown-menu dd-black" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/phishing/">./about</a>
                      <hr>
                        <a class="dropdown-item" href="#">&Vert; /the_analyses/</a>
                        <a class="dropdown-item" href="/phishing/analysis/" style="margin-left: 20px">./about</a>
                        <a class="dropdown-item" href="/phishing/analysis/bulk" style="margin-left: 20px">./bulk phishing</a>
                        <a class="dropdown-item" href="/phishing/analysis/clonephishing" style="margin-left: 20px">./clonephishing</a>
                        <a class="dropdown-item" href="/phishing/analysis/malspam" style="margin-left: 20px">./malspam</a>
                        <a class="dropdown-item" href="/phishing/analysis/pse" style="margin-left: 20px">./personal solicitation</a>
                        <a class="dropdown-item" href="/phishing/analysis/spearphishing" style="margin-left: 20px">./spearphishing</a>
                        <a class="dropdown-item" href="/phishing/analysis/corpus" style="margin-left: 20px">./phishing email corpus</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="pglink dropdown-toggle navbarDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">/security</a>
                    <div class="dropdown-menu dd-black" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/security/">./about</a>
                        <hr>
                          <a class="dropdown-item" href="#">&Vert; /security awareness training/</a>
                          <a class="dropdown-item" href="/security/SAT/analysis" style="margin-left: 20px">/analysis</a>
                          <a class="dropdown-item" href="/security/SAT/parts" style="margin-left: 20px">/the_parts</a>
                          <a class="dropdown-item" href="/security/SAT/skb" style="margin-left: 20px">/other_progs</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="pglink dropdown-toggle navbarDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">/other_writing</a>
                    <div class="dropdown-menu dd-black" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="/writing/digispace">./digital_spaces</a>
                      <a class="dropdown-item" href="/writing/poetry">./poetry</a>
                      <a class="dropdown-item" href="/writing/gonzo">./narrative</a>
                      <a class="dropdown-item disabled" href="/writing/other">./other_writings</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="pglink dropdown-toggle navbarDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">/visaudio</a>
                    <div class="dropdown-menu dd-black" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item disabled" href="/uc">./artwork</a>
                      <a class="dropdown-item disabled" href="/uc">./digital_design</a>
                      <a class="dropdown-item disabled" href="/uc">./music</a>
                </li>
            {{else}}
            <li class="nav-item dropdown">
                <a class="pglink dropdown-toggle navbarDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">/init</a>
                <div class="dropdown-menu dd-black" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="/init/jen">./about_jen</a>
                  <a class="dropdown-item" href="/init/cv">./jen_CV</a>
                <li class="nav-item dropdown">
                    <a class="pglink dropdown-toggle navbarDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">/writing</a>
                    <div class="dropdown-menu dd-black" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="/writing/digispace">./digital_spaces</a>
                      <a class="dropdown-item" href="/writing/poetry">./poetry</a>
                      <a class="dropdown-item" href="/writing/gonzo">./narrative</a>
                      <a class="dropdown-item disabled" href="/writing/other">./other_writings</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="pglink dropdown-toggle navbarDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">/visaudio</a>
                    <div class="dropdown-menu dd-black" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item disabled" href="/uc">./artwork</a>
                      <a class="dropdown-item disabled" href="/uc">./digital_design</a>
                      <a class="dropdown-item disabled" href="/uc">./music</a>
                </li>

            {{/if}}
          </ul>

          <ul class="nav navbar-nav ml-auto w-100 justify-content-end">
            {{#if user}}
            <a class="pglink" style="font-weight:bold;" href="/logout">exit?</a>
            {{else}}
            <a class="pglink" style="font-weight:bold;" href="/signin">login $USER</a>
            {{/if}}
          </ul>
      </div>
  </nav>

<main class="site-content">

  <div id="wrapper">

    <a name="top"></a>


  {{#if error}}
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>Whoops!</strong> {{error}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  {{/if}}

  {{#if success}}
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>Yay!</strong> {{success}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  {{/if}}

  {{#if notice}}
  <div class="alert alert-info alert-dismissible fade show" role="alert">
    <strong>Oh!</strong> {{notice}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  {{/if}}


      {{{body}}}


  </div>

</main>
  <footer class="bigfoot">
    <div class="row">
      <div class="col p-3">
        copyright | sitemap | contact
      </div>
    </footer>


<!--Activate Windows-->
<div id="overlay" data-backdrop="static" class="bottomright">
    <audio id="sound1" src="/audio/laugh.wav" preload="auto"></audio>
    <a class="# win" onclick="document.getElementById('sound1').play();">
      <font class="kern">Activate Windows</font><br>Go to Settings to activate Windows.</a>
  </div>




<script
    src="https://code.jquery.com/jquery-3.4.1.js"
    integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
<script src="/js/custom.js"></script>

</body>
</html>
