<!doctype html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <meta name="description" content="portfolio">
    <meta name="author" content="linuxfingers aka Jennifer Mead">
    <meta name="google-site-verification" content="ZPdA8lBccnjRt8shIo628YmKcxTX_-wOLXfX2vceUNs" />

<title>{{{title}}}</title>

<link rel="icon" href="/icons/favicon.ico">
<link rel="icon" href="/icons/favicon-32.png" sizes="32x32">
<link rel="icon" href="/icons/favicon-57.png" sizes="57x57">
<link rel="icon" href="/icons/favicon-76.png" sizes="76x76">
<link rel="icon" href="/icons/favicon-96.png" sizes="96x96">
<link rel="icon" href="/icons/favicon-128.png" sizes="128x128">
<link rel="icon" href="/icons/favicon-192.png" sizes="192x192">
<link rel="icon" href="/icons/favicon-228.png" sizes="228x228">

<script src="https://kit.fontawesome.com/1de139fa02.js" crossorigin="anonymous"></script>

<!-- Start Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-138652320-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-138652320-1');
    </script>
<!-- End Google Analytics -->

<script type="text/javascript">
onload = function(){
    document.getElementById("lastModified").innerHTML = ">last updated " + document.lastModified.split(".")[0];
}
</script>

  <link href="/css/bootstrap.css" rel="stylesheet">
  <link href="/css/custom.css" rel="stylesheet">

</head>
<body>

<nav class="navbar navbar-expand-lg bighead notomono">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fas fa-dungeon" style="color:#faf9f9"></i>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto justify-content-between">
                    <li class="nav-item">
                        <a class="pglink" href="#">visitor@linuxfingers:~$ cd ~</a>
                    </li>

{{#if user}}
                    <li class="nav-item dropdown">
                        <a class="pglink dropdown-toggle navbarDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">/rhetsec/</a>
                        <div class="dropdown-menu dd-black" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/rhetsec/">./about</a>
                            <a class="dropdown-item" href="/rhetsec/rationale">./rationale</a>
                            <a class="dropdown-item" href="/rhetsec/limitations">./limitations</a>
                            <a class="dropdown-item" href="/rhetsec/assessment">./self-assessment</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="pglink dropdown-toggle navbarDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">/p0_website/</a>
                        <div class="dropdown-menu dd-black" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/rhetsec/phase0/">./about</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="pglink dropdown-toggle navbarDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">/p1_research/</a>
                        <div class="dropdown-menu dd-black" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/rhetsec/phase1/">./about</a>
                            <a class="dropdown-item" href="/rhetsec/phase1/definitions">./technical definitions</a>
                            <a class="dropdown-item" href="/rhetsec/phase1/bibliography">./bibliography</a>
                          <hr>
                            <a class="dropdown-item" href="#">./phishing email analysis</a>
                            <a class="dropdown-item" href="/rhetsec/phase1/email_analysis/" style="margin-left: 40px">./about</a>
                            <a class="dropdown-item" href="/rhetsec/phase1/email_analysis/bulk" style="margin-left: 40px">./bulk phishing</a>
                            <a class="dropdown-item" href="/rhetsec/phase1/email_analysis/clonephishing" style="margin-left: 40px">./clonephishing</a>
                            <a class="dropdown-item" href="/rhetsec/phase1/email_analysis/malspam" style="margin-left: 40px">./malspam</a>
                            <a class="dropdown-item" href="/rhetsec/phase1/email_analysis/pse" style="margin-left: 40px">./personal solicitation</a>
                            <a class="dropdown-item" href="/rhetsec/phase1/email_analysis/spearfishing" style="margin-left: 40px">./spearphishing</a>
                            <a class="dropdown-item" href="/rhetsec/phase1/email_analysis/corpus" style="margin-left: 40px">./phishing email corpus</a>
                          <hr>
                            <a class="dropdown-item" href="#">./security awareness training analysis</a>
                            <a class="dropdown-item" href="/rhetsec/phase1/SAT/" style="margin-left: 40px">./about</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="pglink dropdown-toggle navbarDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">/p2_training/</a>
                        <div class="dropdown-menu dd-black" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/rhetsec/phase2/">./about</a>
                            <hr>
                            <a class="dropdown-item" href="#">./training materials</a>
                            <a class="dropdown-item" href="/rhetsec/phase2/elogin" style="margin-left: 40px">./fake login page</a>
                            <a class="dropdown-item" href="/rhetsec/phase2/phished" style="margin-left: 40px">./you've been phished</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="pglink dropdown-toggle navbarDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">/p???/</a>
                        <div class="dropdown-menu dd-black" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/rhetsec/phaseprofit/">./about</a>
                        </div>
                    </li>
  {{else}}

                <li class="nav-item">
                    <a class="pglink" href="/rhetsec/whatisrhetsec">/rhetsec/</a>
                </li>


{{/if}}
                  <li class="nav-item">
                    {{#if user}}
                    <a class="pglink" href="/logout">exit?</a>
                    {{else}}
                    <a class="pglink" href="/signin">login $USER</a>
                    {{/if}}
                  </li>


                </ul>
            </div>
        </nav>



<div id="wrapper">

<a name="top"></a>

{{#if error}}
  <p class="alert alert-warning">{{error}}</p>
{{/if}}

{{#if success}}
  <p class="alert alert-success">{{success}}</p>
{{/if}}

{{#if notice}}
  <p class="alert alert-info">{{notice}}</p>
{{/if}}

    {{{body}}}

</div>

  <div id="overlay" data-backdrop="static" class="bottomright">
    <audio id="sound1" src="/audio/laugh.wav" preload="auto"></audio>
    <a class="# win" onclick="document.getElementById('sound1').play();">
      <font class="kern">Activate Windows</font><br>Go to Settings to activate Windows.</a>
  </div>


<footer class="bigfoot">

  <nav class="navbar navbar-expand-lg bigfoot notomono">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fas fa-grip-lines"style="color:#faf9f9"></i>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav mr-auto justify-content-center">
                    <li class="nav-item dropup">
                        <a class="pglink dropdown-toggle navbarDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">/about/</a>
                        <div class="dropdown-menu dd-black" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/about/jen">./about_jen</a>
                            <a class="dropdown-item" href="/about/cv">./CV</a>
                            <a class="dropdown-item" href="/about/contact">./contact</a>
                            <a class="dropdown-item" href="/about/provsec">./providentia security</a>
                        </div>
                    </li>
                    <li class="nav-item dropup">
                        <a class="pglink dropdown-toggle navbarDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">/writing/</a>
                        <div class="dropdown-menu dd-black" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/writing/comm">./online_communities</a>
                            <a class="dropdown-item" href="/writing/mpca">./MMORPGs</a>
                            <a class="dropdown-item" href="/writing/seo">./seo</a>
                            <a class="dropdown-item" href="/writing/poetry">./poetry</a>
                            <a class="dropdown-item" href="/writing/gonzo">./narrative&&gonzo</a>
                        </div>
                    </li>
                    <li class="nav-item dropup">
                        <a class="pglink dropdown-toggle navbarDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">/visual&&audio/</a>
                        <div class="dropdown-menu dd-black" aria-labelledby="navbarDropdown">
                          <a class="dropdown-item" href="/visaudio/artwork">./artwork</a>
                          <a class="dropdown-item" href="/visaudio/indesign">./digital_design</a>
                          <a class="dropdown-item" href="/visaudio/music">./music</a>
                    </li>

                  </ul>
              </div>
          </nav>


</footer>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
<script src="/js/custom.js"></script>
<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.9"></script>

</body>
</html>
