<!doctype html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <meta name="description" content="portfolio">
    <meta name="author" content="Jennifer Mead">
    <meta name="google-site-verification" content="ZPdA8lBccnjRt8shIo628YmKcxTX_-wOLXfX2vceUNs" />
<title>{{{title}}}</title>
<!-- Start Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-138652320-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-138652320-1');
    </script>
<!-- End Google Analytics -->

  <link rel="icon" href="/public/icons/button.ico">
  <link href="/public/css/bootstrap.css" rel="stylesheet">
  <link href="/public/css/custom.css" rel="stylesheet">

</head>

<body>

  <nav class="navbar navbar-dark navbar-expand-md bg-faded justify-content-center bighead notomono" id="li">
    <a class="d-flex w-40 mr-auto" href="/">visitor@linuxfingers:~$ cd ~</a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar3">
          <span class="navbar-toggler-icon"></span>
      </button>

    <div class="navbar-collapse collapse w-100 navbar-hover" id="collapsingNavbar3">
    <ul class="navbar-nav w-100 justify-content-center">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle pglink" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">/rhetoric&&security/ <span class="caret"></span></a>
              <ul class="dropdown-menu dd-black">
                {{#if user}}
                <li><a href="/rhetsec/projdesc">▓./project_desc</a></li>
                <li><a href="/rhetsec/rationale" style="margin-left: 40px">./rationale</a></li>
                <li><a href="/rhetsec/limitations" style="margin-left: 40px">./limitations</a></li>
                <li><a href="/rhetsec/techdef" style="margin-left: 40px">./technical definitions</a></li>
                <li><a href="#" style="margin-left: 40px">./self-assessment</a></li>
                <li role="separator" class="nav-item dropdown-divider"></li>
                <li><a href="/phase0">▓ ./phase0_website/</a></li>
                <li><a href="/phase1">▓ ./phase1_research/</a></li>
                <li><a href="/phase2">▓ ./phase2_training/</a></li>
                <li><a href="/phaseprofit">▓ ./phase???_profit/</a></li>
                {{else}}
                <li><a href="/rhetsec/projdesc">▓./project_desc</a></li>
                {{/if}}
              </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle pglink" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">/writing/ <span class="caret"></span></a>
              <ul class="dropdown-menu dd-black">
                <li><a href="/writing/comm">▓ ./online_communities/</a></li>
                <li><a href="/writing/mpca">./MMORPGs</a></li>
                <li><a href="/writing/seo">./seo</a></li>
                <li role="separator" class="nav-item dropdown-divider"></li>
                <li><a href="/writing/poetry">▓ ./poetry/</a></li>
                <li><a href="/writing/gonzo">▓ ./narrative&&gonzo/</a></li>
              </ul>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle pglink" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">/visual&&audio/ <span class="caret"></span></a>
                  <ul class="dropdown-menu dd-black">
                    <li><a href="/visaudio/indesign">./digital_design</a></li>
                    <li><a href="/visaudio/artwork">./artwork</a></li>
                    <li><a href="/visaudio/music">./music</a></li>
                  </ul>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle pglink" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">/about/ <span class="caret"></span></a>
                      <ul class="dropdown-menu dd-black">
                        <li><a href="/about/jen">./jen</a></li>
                        <li><a href="/about/provsec">./provsec</a></li>
                        <li role="separator" class="nav-item dropdown-divider"></li>
                        <li><a href="/about/contact">./contact</a></li>
                      </ul>
            <li class="nav-item">
              <a class="pglink" href="/cv">/cv/</a>
            </li>
        </ul>

        <ul class="nav navbar-nav ml-auto w-100 justify-content-end courier">
            <li class="nav-item">
              {{#if user}}
              <a class="pglink" href="#">exit?</a>
              {{else}}
              <a class="pglink" href="/uc">login $USER</a>
              {{/if}}
            </li>
        </ul>

    </div>
</nav>

<div id="wrapper" class="container">

{{#if error}}
  <p class="alert alert-warning">{{error}}</p>
{{/if}}

{{#if success}}
  <p class="alert alert-success">{{success}}</p>
{{/if}}

{{#if notice}}
  <p class="alert alert-info">{{notice}}</p>
{{/if}}

    {{{body}}}

</div>
    <div id="overlay" data-backdrop="static" class="bottomright">
      <audio id="sound1" src="public/audio/laugh.wav" preload="auto"></audio><a class="# win" onclick="document.getElementById('sound1').play();"><font class="kern">Activate Windows</font><br>Go to Settings to activate Windows.</a></div>

<footer class="bigfoot">
<!--    <span style="float:left;">
      <div class="dropup">
      <button class="dropbtn">sitemap</button>
        <div class="dropup-content">
          <a href="#">Link 1</a>
          <a href="#">Link 2</a>
          <a href="#">Link 3</a>
        </div>
  </div>
</span>-->
      <p class="white"><img src="/public/img/greenskull.gif" height="30px" href="#" target="_blank" onclick="randomSite();">
      ʇ̫͖̩̦̀̐̎̿̃̚ɔ͖̦͙̝̣͈̬̱̫̎ǝ̣͙̻̼̣̗̥̰̑ͩ͛̇͗u̹ͣ͑͊̓̑̾u̩̱͇̖̗̯͛́̿o͇͓̠͔̞̼ͪ͑̃ɔ̲̱͔̣̟̽ͥ͛̋̒ͫͮ͗̚
       ░ <a target="_blank" rel="noopener noreferrer" href="mailto:contact@linuxfingers.com">email</a>
       ░ <a target="_blank" rel="noopener noreferrer" href="http://www.twitter.com/linuxfingers">twitter</a>
       ░ <a target="_blank" rel="noopener noreferrer" href="http://www.facebook.com/linuxfingers">facebook</a>
       ░ <a target="_blank" rel="noopener noreferrer" href="http://www.soundcloud.com/linuxfingers">soundcloud</a>
       ░ ̭́̂́͐͛c͖̻ͯ̽õ̭̼̪̦̠ͅn̺̰ͤ̌͒ͭ̆̏n̲̼̦͕̥̗̝̠̒̏ͧ̃̓̓ͬẹ͉́ͨ̑̆ͬ̃ͥͫc͔͓͈̮ͮ͐̃t̘̖͉̫̬̰ͨͪ
       <img src="/public/img/greenskull.gif" height="30px" href="#" target="_blank" onclick="randomSite();">
     </p>
</footer>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
<script src="/public/js/custom.js"></script>


</body>
</html>
