<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, width=device-width">
    <meta name="description" content="portfolio">
    <meta name="author" content="linuxfingers (Jenny Lynn Mead)">
    <meta name="google-site-verification" content="ZPdA8lBccnjRt8shIo628YmKcxTX_-wOLXfX2vceUNs" />

<title>{{{title}}}</title>

<link rel="icon" href="/icons/favicon.ico">
<link rel="icon" href="/icons/favicon-32.png" sizes="32x32">
<link rel="icon" href="/icons/favicon-57.png" sizes="57x57">
<link rel="icon" href="/icons/favicon-76.png" sizes="76x76">
<link rel="icon" href="/icons/favicon-80.png" sizes="80x80">
<link rel="icon" href="/icons/favicon-128.png" sizes="128x128">
<link rel="icon" href="/icons/favicon-192.png" sizes="192x192">
<link rel="icon" href="/icons/favicon-228.png" sizes="228x228">

<!--FontAwesome-->
<script src="https://kit.fontawesome.com/1de139fa02.js" crossorigin="anonymous"></script>


<!--Pintrest-->
<meta name="p:domain_verify" content="c5c1891d537fa568d2e130176a0d6ae1"/>

<!-- Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-138652320-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-138652320-1');
</script>

<!-- Stylesheets -->
<link href="/css/bootstrap.css" rel="stylesheet">
<link href="/css/style.css" rel="stylesheet">
<link href="/css/restext.css" rel="stylesheet">

</head>

<body>

  <div class="container-fluid">
  	<div class="row">
  		<div class="col-md-10 mt-5">
        <!--<div class="container">-->
          <div class="modal-header top">
            <span class="triright"></span>{{title}}
          </div>
            <div class="content mb-4">

              {{{body}}}

          </div>
      </div>
    <!--</div>-->
  		<div class="col-md-2 mt-3">

        <div class="row">
          <div class="col">
              <div class="modal-header top">
              <span class="tridown"></span><a href="/">/home/visitor</a>
            </div>

            <div class="files mb-4">

                <div class="row">
                  <div class="col">
                    <img class="center-block" src="/icons/folder.svg" id="portfolioFolder" onclick="this.src='/icons/openfolder.svg', 1000" data-toggle="modal" data-target="#portfolioModal" style="width:80px;height:80px;"/>
                      <p>/rhetsec_</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <img class="center-block" src="/icons/folder.svg" id="wriFolder" onclick="this.src='/icons/openfolder.svg', 1000" data-toggle="modal" data-target="#wriModal" style="width:80px;height:80px;"/>
                    <p>/other_writing</p>
                  </div>
                  <div class="col">
                    <img class="center-block" src="/icons/folder.svg" id="vaFolder" onclick="this.src='/icons/openfolder.svg', 1000" data-toggle="modal" data-target="#vaModal" style="width:80px;height:80px;"/>
                    <p>/visaudio</p>
                  </div>
                  <div class="col">
                    <img class="center-block" src="/icons/folder.svg" id="aboutFolder" onclick="this.src='/icons/openfolder.svg', 1000" data-toggle="modal" data-target="#aboutModal" style="width:80px;height:80px;"/>
                    <p>/about_jen</p>
                  </div>
                </div>

              <!--<img src="/img/greenskull.gif" class="img-fluid d-flex mx-auto mt-5" href="#" data-toggle="tooltip" title="hello, world" target="_blank" onclick="randomSite();">-->
            </div>
            </div>
        </div>
</div>

      <div class="row">
            {{#if error}}
            <div class="alert alert-warning alert-dismissible fade show noti" role="alert">
              <strong>Whoops!</strong> {{error}}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                ×
              </button>
            </div>
            {{/if}}

            {{#if success}}
            <div class="alert alert-success alert-dismissible fade show noti" role="alert">
              <strong>Yay!</strong> {{success}}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                ×
              </button>
            </div>
            {{/if}}

            {{#if notice}}
            <div class="alert alert-info alert-dismissible fade show noti" role="alert">
              <strong>Oh!</strong> {{notice}}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                ×
              </button>
            </div>
            {{/if}}
        </div>
      </div>

  </div> <!-- closes this column-->



</div> <!-- main container-->

<!-- Modals -->

<div class="modal" id="portfolioModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header top">
        visitor@linuxfingers: ~/rhetsec_
        <button type="button" class="close" data-dismiss="modal" data-backdrop="false"><img src="/img/x.svg"</button>
      </div>
      <div class="modal-body fcontent smallfont">
        <div class="row">
          <div class="col">
            <a href="/init/rhet101"><img class="center-block p-1" src="/icons/file.svg" style="width:80px;height:80px;">
              <p>rhetoric_crash_course</p></a>
            </div>
          <div class="col">
            <a href="/init/"><img class="center-block p-1" src="/icons/file.svg" style="width:80px;height:80px;">
              <p>project_readme</p></a>
            </div>
          <div class="col">
            <a href="/offensive/phishing/analysis"><img class="center-block p-1" src="/icons/file.svg" style="width:80px;height:80px;">
            <p>analysis_framework</p></a>
          </div>
          <div class="col">
            <a href="/offensive/phishing/analysis/bulk"><img class="center-block p-1" src="/icons/file.svg" style="width:80px;height:80px;">
            <p>bulk_phishing</p></a>
          </div>
          <div class="col">
            <a href="/offensive/phishing/analysis/clonephishing"><img class="center-block p-1" src="/icons/file.svg" style="width:80px;height:80px;">
            <p>clonephishing</p></a>
          </div>
          <div class="col">
            <a href="/offensive/phishing/analysis/malspam"><img class="center-block p-1" src="/icons/file.svg" style="width:80px;height:80px;">
            <p>malspam</p></a>
          </div>
          <div class="col">
            <a href="/offensive/phishing/analysis/pse"><img class="center-block p-1" src="/icons/file.svg" style="width:80px;height:80px;">
            <p>personal_solicitation</p></a>
          </div>
          <div class="col">
            <a href="/offensive/phishing/analysis/spearphishing"><img class="center-block p-1" src="/icons/file.svg" style="width:80px;height:80px;">
            <p>spearphishing</p></a>
          </div>
          <div class="col">
            <a href="/offensive/phishing/analysis/corpus"><img class="center-block p-1" src="/icons/file.svg" style="width:80px;height:80px;">
            <p>email_corpus</p></a>
        </div>
        <div class="col">
          <a href="/init/references"><img class="center-block p-1" src="/icons/file.svg" style="width:80px;height:80px;">
          <p>references</p></a>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="wriModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header top">
        visitor@linuxfingers: ~/other_writing
        <button type="button" class="close" data-dismiss="modal" data-backdrop="false"><img src="/img/x.svg"</button>
      </div>
      <div class="modal-body fcontent smallfont">
        <div class="row">
          <div class="col">
            <a href="/writing/digispace"><img class="center-block p-1" src="/icons/file.svg" style="width:80px;height:80px;">
            <p>digital_spaces</p></a>
          </div>
          <div class="col">
            <a href="/writing/other"><img class="center-block p-1" src="/icons/file.svg" style="width:80px;height:80px;">
              <p>other_projects</p></a>
            </div>
          <div class="col">
            <a href="/writing/gonzo"><img class="center-block p-1" src="/icons/file.svg" style="width:80px;height:80px;">
            <p>narrative</p></a>
          </div>
          <div class="col">
            <a href="/writing/poetry"><img class="center-block p-1" src="/icons/file.svg" style="width:80px;height:80px;">
            <p>poetry</p></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="vaModal">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header top">
        visitor@linuxfingers: ~/visaudio
        <button type="button" class="close" data-dismiss="modal" data-backdrop="false"><img src="/img/x.svg"</button>
      </div>
      <div class="modal-body fcontent smallfont">
        <div class="row">
          <div class="col">
            <a href="/visaudio/artwork"><img class="center-block p-1" src="/icons/file.svg" style="width:80px;height:80px;">
            <p>artwork</p></a>
          </div>
          <!--<div class="col">
            <a href="/visaudio/indesign"><img class="center-block p-1" src="/icons/file.svg" style="width:80px;height:80px;">
            <p>design</p></a>
          </div>-->
          <div class="col">
            <a href="/visaudio/music"><img class="center-block p-1" src="/icons/file.svg" style="width:80px;height:80px;">
            <p>music</p></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="aboutModal">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header top">
        visitor@linuxfingers: ~/about_jen
        <button type="button" class="close" data-dismiss="modal" data-backdrop="false"><img src="/img/x.svg"</button>
      </div>
      <div class="modal-body fcontent smallfont">
        <div class="row">
          <div class="col">
            <a href="/about/jen"><img class="center-block p-1" src="/icons/file.svg" style="width:80px;height:80px;">
            <p>jen</p></a>
          </div>
          <div class="col">
            <a href="/about/cv"><img class="center-block p-1" src="/icons/file.svg" style="width:80px;height:80px;">
            <p>cv</p></a>
          </div>
          <div class="col">
            <a href="/about/provsec"><img class="center-block p-1" src="/icons/file.svg" style="width:80px;height:80px;">
            <p>providentia_security</p></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Activate Windows-->
<div id="overlay" data-backdrop="static" class="bottomright">
    <audio id="sound1" src="/audio/laugh.wav" preload="auto"></audio>
    <a class="# win" onclick="document.getElementById('sound1').play();">
      <font class="kern">Activate Windows</font><br>Go to Settings to activate Windows.</a>
</div>

</body>

<script
    src="https://code.jquery.com/jquery-3.4.1.js"
    integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>
<script
  src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
  integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
  crossorigin="anonymous"></script>

<script
  src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
  integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
  crossorigin="anonymous"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/custom.js"></script>


</html>
