<!doctype html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="portfolio">
    <meta name="author" content="Jennifer Mead">

    <meta name="google-site-verification" content="ZPdA8lBccnjRt8shIo628YmKcxTX_-wOLXfX2vceUNs" />

<!-- Start Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-138652320-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-138652320-1');
    </script>
<!-- End Google Analytics -->

<script src="https://kit.fontawesome.com/1de139fa02.js"></script>

<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.9"></script>

<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>

  <script src="/js/sites.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/slim-scroll/1.3.2/slimscroll.js"></script>

  <link rel="icon" href="/icons/button.ico">
  <link href="/css/bootstrap.css" rel="stylesheet">
  <link href="/css/custom.css" rel="stylesheet">
</head>

<body>
  <nav class="navbar navbar-dark navbar-expand-md bg-faded justify-content-center bighead">
    <a href="/" class="navbar-brand d-flex w-50 mr-auto">visitor@linuxfingers:~$</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar3">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse w-100" id="collapsingNavbar3">
        <ul class="navbar-nav w-100 justify-content-center">
            <li class="nav-item active">
                <a class="pglink" href="portfolio">/portfolio/</a>
            </li>
            <!--<li class="nav-item">
                <a class="pglink" href="art">/creative_arts/</a>
            </li>-->
            <li class="nav-item">
                <a class="pglink" href="cv">/cv/</a>
            </li>
            <li class="nav-item">
                <a class="pglink" href="about">/about_jen/</a>
            </li>
        </ul>
        <ul class="nav navbar-nav ml-auto w-100 justify-content-end">
            <li class="nav-item">
              {{#if user}}
              <a class="pglink" href="/logout">exit?</a>
              {{else}}
              <a class="pglink" href="/signin">login $USER</a>
              {{/if}}
            </li>
        </ul>
    </div>
</nav>

{{#if error}}
  <p class="alert alert-warning">{{error}}</p>
{{/if}}

{{#if success}}
  <p class="alert alert-success">{{success}}</p>
{{/if}}

{{#if notice}}
  <p class="alert alert-info">{{notice}}</p>
{{/if}}

    {{{body}}}

    <script>$("#overlay").modal({
        backdrop : "static",
        keyboard: false
    });</script>

    <div id="overlay" data-backdrop="static" class="bottomright">
      <audio id="sound1" src="public/audio/laugh.wav" preload="auto"></audio><a class="#" onclick="document.getElementById('sound1').play();"><font class="kern">Activate Windows</font><br>Go to Settings to activate Windows.</a></div>

<footer class="bigfoot">
  <p>
<img src="/img/greenskull.gif" height="30px" href="#" onclick="randomSite();">
     <a href="mailto:contact@linuxfingers.com">email</a>
     ░ <a href="http://www.twitter.com/linuxfingers">twitter</a>
     ░ <a href="http://www.facebook.com/linuxfingers">facebook</a>
     ░ <a href="http://www.soundcloud.com/linuxfingers">soundcloud</a>
<img src="/img/greenskull.gif" height="30px" href="#" onclick="randomSite();">
</p>
</footer>

<script src="public/js/bootstrap.js"></script>

</body>
</html>
