<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, width=device-width">
    <meta name="description" content="portfolio">
    <meta name="author" content="linuxfingers (Jenny Lynn Mead)">
    <meta name="google-site-verification" content="ZPdA8lBccnjRt8shIo628YmKcxTX_-wOLXfX2vceUNs" />

<title>{{{title}}}</title>

<link rel="icon" href="/icons/favicon.ico">
<link rel="icon" href="/icons/favicon-32.png" sizes="32x32">
<link rel="icon" href="/icons/favicon-57.png" sizes="57x57">
<link rel="icon" href="/icons/favicon-76.png" sizes="76x76">
<link rel="icon" href="/icons/favicon-96.png" sizes="96x96">
<link rel="icon" href="/icons/favicon-128.png" sizes="128x128">
<link rel="icon" href="/icons/favicon-192.png" sizes="192x192">
<link rel="icon" href="/icons/favicon-228.png" sizes="228x228">

<!--FontAwesome-->
<script src="https://kit.fontawesome.com/1de139fa02.js" crossorigin="anonymous"></script>


<!-- Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-138652320-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-138652320-1');
</script>

<!-- Stylesheets -->
<link href="/css/bootstrap.css" rel="stylesheet">
<link href="/css/test.css" rel="stylesheet">
<link href="/css/restext.css" rel="stylesheet">

</head>

<body>

  <div class="container-fluid">
  	<div class="row">
  		<div class="col-md-8 mt-5">
        <div class="container">
          <div class="top">
            <span class="triright"></span>{{title}}
          </div>
            <div class="content mb-4">

              {{{body}}}

            </div>
          </div>
      </div>
  		<div class="col-md-4 mt-3">
        <div class="row">
          <div class="col">
            <div class="container">
              <div class="top">
              <span class="tridown"></span> hey cool
            </div>

            <div class="content mb-4">
              <div class="container">
                <div class="row">
                  <div class="col">
                      <img class="center-block mx-auto p-3" src="https://via.placeholder.com/64" data-toggle="modal" data-target="#folderModal">
                      <p>/folder</p>
                  </div>
                  <div class="col">
                    <img class="center-block mx-auto p-3" src="https://via.placeholder.com/64">
                    <p>/folder</p>
                  </div>
                  <div class="col">
                    <img class="center-block mx-auto p-3" src="https://via.placeholder.com/64">
                    <p>/folder</p>
                  </div>
                  <div class="col">
                    <img class="center-block mx-auto p-3" src="https://via.placeholder.com/64">
                    <p>/folder</p>
                  </div>
                  <div class="col">
                    <img class="center-block mx-auto p-3" src="https://via.placeholder.com/64">
                    <p>/folder</p>
                  </div>
                  <div class="col">
                    <img class="center-block mx-auto p-3" src="https://via.placeholder.com/64">
                    <p>/folder</p>
                  </div>
                  <div class="col">
                    <img class="center-block mx-auto p-3" src="https://via.placeholder.com/64">
                    <p>/folder</p>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
  	</div>


  	<div class="row">
        <div class="col alert alert-warning alert-dismissible fade show noti" role="alert">
          <strong style="color:#006666;">alert $USER> hello, world!</strong>
          <p>lots and lots of text here just in case to simulate an error msg mmk ty</p>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            ×
          </button>
        </div>
          {{#if error}}
          <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>Whoops!</strong> {{error}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              ×
            </button>
          </div>
          {{/if}}

          {{#if success}}
          <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>Yay!</strong> {{success}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              ×
            </button>
          </div>
          {{/if}}

          {{#if notice}}
          <div class="alert alert-info alert-dismissible fade show" role="alert">
            <strong>Oh!</strong> {{notice}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              ×
            </button>
          </div>
          {{/if}}
  		</div>
  	</div>

    	</div>

<!-- Modals -->

<div class="modal" id="folderModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header top">
        <h4 class="modal-title">Modal Heading</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body content">
        Modal body..
      </div>


    </div>
  </div>
</div>

<!--Activate Windows-->
<div id="overlay" data-backdrop="static" class="bottomright">
    <audio id="sound1" src="/audio/laugh.wav" preload="auto"></audio>
    <a class="# win" onclick="document.getElementById('sound1').play();">
      <font class="kern">Activate Windows</font><br>Go to Settings to activate Windows.</a>
</div>


<script>
  $("#menu-toggle").click(function(e) {
    e.preventDefault();
    $("#wrapper").toggleClass("toggled");
  });
</script>

<script
    src="https://code.jquery.com/jquery-3.4.1.js"
    integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/custom.js"></script>

</body>
</html>
